body{
  margin: 0;
  box-sizing: border-box;
}

/* Header */
header .banner-pattern{
  height: 80px;
  background-image: url("../img/pattern.png");
  background-color: rgb(78, 160, 255);
  background-size: 310px;
  position: relative;
}

.title{
  color: white;
  text-shadow: 1px 1px 1px black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.title.title-part-1{
  position: absolute;
  bottom: 30px;
  left: 20px;
}

.title.title-part-2{
  font-size: 2em;
  position: absolute;
  bottom: 10px;
  left: 5px;
}