body{
  margin: 0;
  box-sizing: border-box;
}

/* Header */
.bottom-header, main, footer{
  margin: 0 8px;
}

header .top-header{
  height: 80px;
  background-image: url("../img/pattern.png");
  background-color: rgb(78, 160, 255);
  background-size: 310px;
  position: relative;
}

.title{
  color: white;
  text-shadow: 1px 1px 1px black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.title.title-part-1{
  position: absolute;
  bottom: 32px;
  left: 23px;
}

.title.title-part-2{
  font-size: 2em;
  position: absolute;
  bottom: 10px;
  left: 5px;
}

h1{
  margin-bottom: 0;
}

h4, h6{
  color: rgb(130, 130, 130);
  margin: 0;
}

header h4 a{
  color: rgb(87, 190, 235);
  text-decoration: none;
}

header section img{
  margin-top: 16px;
}

header section div{
  font-size: 12px;
}

/* Main */

main p .special{
  background: yellow;
}

main ul{
  padding: 16px;
}

main table{
  width: 100%;
  border-collapse: collapse;
}

main table thead{
  text-align: left;
  color: white;
  background-color: rgb(32, 170, 230);
}

main table thead .small-column{
  width: 25%;
}

main tbody .azure-row{
  background-color: rgb(177, 229, 242);
}

/* Footer */
footer div{
  width: 312px;
  height: 208px;
  margin-top: 10px;
  background-repeat: no-repeat;
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 8px;
}

.monitor{
  background-image: url(../img/monitor.jpg);
}

.graph{
  background-image: url(../img/graph.jpg);
}